#classrooms-list {
	ul.small-block-grid-2 {
		margin: 0;
		li>div {width: 100%; height: 100px; margin: 5px 0; float: left; background: $teal;box-sizing: border-box;
			&.small{width: 90px; height: 90px;}
			h4 {text-align: center;}
		}

	}
}
#upcoming-events {
	ul li {float: left; width: 80px; height: 80px; background: $teal; margin: 10px; color: #FFF; text-align: center; font-family: $alt-font-family; line-height: 80px;}
}